@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: white;
    font-family: Raleway;
    text-align: center;
}


.menu ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    background-color: rgb(240, 128, 128);
    opacity: 80%;
}

.menu a{
    display: block;
	padding: 2em;
	text-decoration: none;
	color: white;
}

.menu a:hover {
    background-color: rgb(212, 149, 149);
}

.menu ul li ul {
    display: none;
}

.menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
}

img {
    border-radius: 5px;
}

