@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: white;
    font-family: Raleway;
    text-align: center;
}

.navbar ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    background-color: #f2cc8f;
    opacity: 80%;
    border-radius: 18px;
    
}

.navbar a{
    display: block;
	padding: 2em;
	text-decoration: none;
	color: #3d405b;
}

.navbar a:hover {
    background-color: #f4f1de;
}

.navbar ul li ul {
    display: none;
}

.navbar ul li a:hover + ul, .navbar ul li ul:hover {
    display: block;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 5px;

}

.logoitzel{
    width: 120px;
    height: 100px;
    align-items: top;
    float: right;
}




