@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: white;
    font-family: Raleway;
    text-align: center;
}

.navbar ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    background-color: #f2cc8f;
    opacity: 80%;
    border-radius: 18px;
}

.navbar a{
    display: block;
	padding: 2em;
	text-decoration: none;
	color: #3d405b;
}

.navbar a:hover {
    background-color: #f4f1de;
}

.navbar ul li ul {
    display: none;
}

.navbar ul li a:hover + ul, .navbar ul li ul:hover {
    display: block;
}

.logoitzel{
    width: 120px;
    height: 100px;
    align-items: top;
    float: right;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.calculadora{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #e07a5f;
    width: 300px;
    height: 500px;
    border-radius: 25px;
    font-family: 'Shadows Into Light', cursive;

}

.calculadora td button{
    display: block;
    width: 66px;
    height: 65px;
    font-size: 25px;
    border-radius: 25px;
    font-family: 'Shadows Into Light', cursive;
}

#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 275px;
    height: 120px;
    line-height: 100px;
    background-color: rgb(58, 54, 54);
    border-radius: 25px;
    overflow-y: auto;
    font-family: 'Shadows Into Light', cursive;
    color: #f2cc8f;
}
